<!DOCTYPE html>
<html>
  <head>
    <title>Logr -- {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{{ config["WEBSITE_NAME"] }}</a>
          <ul class="nav pull-right">
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 100px;">
      <div class="row">
        {% for message in get_flashed_messages() %}
          <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      </div>
      <div class="row">
        {% block body %}{% endblock %}
      </div>
      <div class="row" style="margin-bottom: 40px;"></div>
    </div>
  </body>
</html
