<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{{ config["WEBSITE"] }}</a>
          <ul class="nav pull-right">
            <li><a href="/">Home</a></li>
            <!--<li class="divider-vertical"></li>
            <li><a href="/about">About</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/projects">Projects</a></li>-->
          </ul>
        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 100px;">
      <div class="row">
        {% for message in get_flashed_messages() %}
          <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      </div>
      <div class="row">
        {% block body %}{% endblock %}
      </div>
      <div class="row" style="margin-top: 40px;">
        <div class="pull-right">
          {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">Log In</a>
          {% else %}
            <a href="{{ url_for('new') }}">New Post</a> |
            <a href="{{ url_for('cat') }}">New Category</a> |
            <a href="{{ url_for('logout') }}">Log Out</a>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html
