{% extends "base.html" %}

{% block title %}Mad Science for Hackers -- New Post{% endblock %}
{% block body %}
  <div class="well" id="new-post-form" style="padding-left: 20%;">
    <form class="form-horizontal" action="{{ url_for('cat') }}" method="POST">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="post-title">Category Name</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="cat-name" name="cat-name">
          </div>
          <br />
          <div class="controls">
            <input class="btn btn-primary btn-large" type="submit" value="Create New Category">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
