{% extends "base.html" %}

{% block title %}/{% endblock %}

{% block body %}<center>

  <center>
    {% for section in article_dict %}
      <h3>{{ section['category'][0] }}</h3>
      {% for article in section['articles'] %}
        <a href="/b/{{ article.slug }}">{{ article.title }}</a><br />
      {% else %}
        <div class="alert alert-error">
          Unbelievable. There's nothing here.
        </div>
      {% endfor %}
      <br />
    {% else %}
      <div class="alert alert-error">
        You must be new, because there aren't any categories yet. Try adding one.
      </div>
    {% endfor %}
  </center>
{% endblock %}
